.my_custom_border {
  border: 1px solid #ccc;
  padding: 5px;
}

.my_custom_background {
  background-color: #f5f5f5;
  padding: 10px;
}
.o_form_view .o_inner_group{
 /* Arranges items in a row */
  overflow-x: auto; /* Adds a scrollbar when content overflows horizontally */
  white-space: nowrap;
        justify-items: center !important;


}